#navigation .col-lg-5 {
  padding: 0px;
  border-bottom: 1px solid #EEEEEE;
}

#navigation .col-lg-2 {
  padding: 0px;
  padding-left: 47px;
  padding-top: 13px;
  border-bottom: 1px solid #EEEEEE;
}

#navigation .col-lg-12 {
  padding: 0;
}

#navigation .navleft {
  width: 100%;
  height: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
}

#navigation .navleft ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navigation .navleft ul li {
  list-style: none;
  padding-top: 13px;
  cursor: pointer;
}

#navigation .navleft ul li a {
  text-decoration: none;
  padding: 16px 15px;
  color: #686868;
  font-family: 'MaisonNeue', sans-serif;
  font-size: 16px;
}

#navigation .navleft ul li a:hover {
  color: #dc9814;
}

#navigation .navleft ul li a sup {
  font-size: 9px;
  margin-left: 4px;
  top: -9px;
}

#navigation .logimg {
  width: 100%;
  height: 65px;
  padding-top: 14px;
  padding-bottom: 14px;
}

#navigation .logimg img {
  width: 112px;
  height: 16px;
}

#navigation .navright {
  width: 100%;
  height: 65px;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
}

#navigation .navright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 66px;
}

#navigation .navright ul li {
  list-style: none;
  margin-right: 20px;
  padding-top: 13px;
  cursor: pointer;
}

#navigation .navright ul li span {
  text-decoration: none;
  color: #686868;
  font-family: 'MaisonNeue', sans-serif;
  font-size: 16px;
}

#navigation .navright ul li span:hover {
  color: #dc9814;
}

#navigation .navright ul li span a {
  text-decoration: none;
  color: #686868;
}

#navigation .navright ul li sup {
  color: #dc9814;
  position: relative;
  top: -10px;
  left: 4px;
  font-size: 14px;
}

#navigation .navright ul li i {
  font-weight: 400;
  margin-top: 6px !important;
  font-size: 16px !important;
  color: #686868;
  cursor: pointer;
}

#navigation .navright ul li i:hover {
  color: #dc9814;
}

#navigation .shop-pages {
  width: 180px;
  background-color: #282828;
  position: absolute;
  top: 65px;
  left: 9%;
  z-index: 3;
  padding-top: 15px;
  border-radius: 10px;
}

#navigation .shop-pages ul {
  padding-left: 22px;
  padding-bottom: 5px;
}

#navigation .shop-pages ul li {
  list-style: none;
  padding-top: 10px;
}

#navigation .shop-pages ul li a {
  text-decoration: none;
  color: #A0A0A0;
  font-family: 'MaisonNeue', sans-serif;
  font-size: 13px;
}

#navigation .shop-pages ul li a:hover {
  color: #dc9814;
}

#navigation .categoriestitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 180px;
  z-index: 4;
  top: 65px;
  left: 0px;
  text-align: center;
  background-color: white;
  padding-left: 133px;
  padding-right: 133px;
  padding-top: 20px;
}

#navigation .categoriestitle .bags {
  width: 220px;
  margin-bottom: 30px;
  padding: 0px;
  border-right: 1px solid #EEEEEE;
}

#navigation .categoriestitle .bags img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  margin-bottom: 20px;
}

#navigation .categoriestitle .bags img:hover {
  width: 85px;
  height: 85px;
}

#navigation .categoriestitle .bags span {
  color: #686868;
  font-size: 14px;
}

#navigation .categoriestitle .bags span:hover {
  color: #dc9814;
}

#navigation .categoriestitle .decoration {
  width: 220px;
  margin-bottom: 30px;
  padding: 0px;
  border-right: 1px solid #EEEEEE;
}

#navigation .categoriestitle .decoration img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  margin-bottom: 20px;
}

#navigation .categoriestitle .decoration img:hover {
  width: 85px;
  height: 85px;
}

#navigation .categoriestitle .decoration span {
  color: #686868;
  font-size: 14px;
}

#navigation .categoriestitle .decoration span:hover {
  color: #dc9814;
}

#navigation .categoriestitle .essentials {
  width: 220px;
  margin-bottom: 30px;
  padding: 0px;
  border-right: 1px solid #EEEEEE;
}

#navigation .categoriestitle .essentials img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  margin-bottom: 20px;
}

#navigation .categoriestitle .essentials img:hover {
  width: 85px;
  height: 85px;
}

#navigation .categoriestitle .essentials span {
  color: #686868;
  font-size: 14px;
}

#navigation .categoriestitle .essentials span:hover {
  color: #dc9814;
}

#navigation .categoriestitle .interior {
  width: 220px;
  margin-bottom: 30px;
  padding: 0px;
  border-right: 1px solid #EEEEEE;
}

#navigation .categoriestitle .interior img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  margin-bottom: 20px;
}

#navigation .categoriestitle .interior img:hover {
  width: 85px;
  height: 85px;
}

#navigation .categoriestitle .interior span {
  color: #686868;
  font-size: 14px;
}

#navigation .categoriestitle .interior span:hover {
  color: #dc9814;
}

#navigation .categoriestitle .allcategories {
  width: 220px;
  margin-bottom: 30px;
  padding: 0px;
}

#navigation .categoriestitle .allcategories img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
  margin-bottom: 20px;
}

#navigation .categoriestitle .allcategories img:hover {
  width: 85px;
  height: 85px;
}

#navigation .categoriestitle .allcategories span {
  color: #686868;
  font-size: 14px;
}

#navigation .categoriestitle .allcategories span:hover {
  color: #dc9814;
}

#navigation .pages {
  width: 180px;
  background-color: #282828;
  position: absolute;
  top: 65px;
  left: 23%;
  z-index: 3;
  padding-top: 15px;
  border-radius: 10px;
}

#navigation .pages ul {
  padding-left: 22px;
  padding-bottom: 5px;
}

#navigation .pages ul li {
  list-style: none;
  padding-top: 10px;
}

#navigation .pages ul li a {
  text-decoration: none;
  color: #A0A0A0;
  font-family: 'MaisonNeue', sans-serif;
  font-size: 13px;
}

#navigation .pages ul li a:hover {
  color: #dc9814;
}

#categories-search-filter {
  margin-top: 35px;
}

#categories-search-filter .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

#categories-search-filter .container-fluid .categoriesname .active {
  color: #dc9814;
}

#categories-search-filter .container-fluid .categoriesname ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#categories-search-filter .container-fluid .categoriesname ul li {
  list-style: none;
  color: #686868;
  margin-left: 5px;
  font-size: 18px;
}

#categories-search-filter .container-fluid .categoriesname ul li span {
  color: #AAAAAA;
  margin-left: 10px;
}

#categories-search-filter .container-fluid .categoriesname ul li:hover {
  color: #dc9814;
}

#categories-search-filter .container-fluid .filtersort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding-right: 70px;
}

#categories-search-filter .container-fluid .filtersort ul li {
  list-style: none;
  color: #686868;
  margin-left: 5px;
  font-size: 17px;
}

#categories-search-filter .container-fluid .filtersort ul li i {
  color: #A0A0A0;
}

#categories-search-filter .container-fluid .filtersort ul li span {
  margin-left: 10px;
  color: #AAAAAA;
}

#categories-search-filter .container-fluid .filtersort ul li:hover {
  color: #dc9814;
}

#categories-search-filter .container-fluid .searcharea {
  width: 100%;
  margin-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

#categories-search-filter .container-fluid .searcharea input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 25px;
  outline-color: #282828;
  border: none;
  overflow: hidden;
}

#categories-search-filter .container-fluid .searcharea ::-webkit-input-placeholder {
  color: #cac5c5;
  opacity: 1;
}

#categories-search-filter .container-fluid .searcharea :-ms-input-placeholder {
  color: #cac5c5;
  opacity: 1;
}

#categories-search-filter .container-fluid .searcharea ::-ms-input-placeholder {
  color: #cac5c5;
  opacity: 1;
}

#categories-search-filter .container-fluid .searcharea ::placeholder {
  color: #cac5c5;
  opacity: 1;
}

#categories-search-filter .container-fluid .searcharea i {
  position: absolute;
  float: right;
  right: 45px;
  top: 8px;
  color: #cac5c5;
  font-size: 25px;
}

#categories-search-filter .container-fluid .content {
  margin-top: 50px;
}

#categories-search-filter .container-fluid .content .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 {
  padding-left: 12px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart {
  width: 287px;
  height: 460px;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 60px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart p {
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 10px;
  font-weight: 500;
  font-family: cursive;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart img {
  position: absolute;
  width: 287px;
  height: 356px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .firstimg {
  z-index: 2;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo {
  width: 100%;
  height: 101px;
  position: relative;
  top: 360px;
  padding-left: 10px;
  padding-right: 10px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo h6 {
  font-family: cursive;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .pricelike {
  margin-bottom: 10px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .pricelike i {
  float: right;
  font-size: 20px;
  color: red;
  position: absolute;
  right: 11px;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .pricelike .pricecurrency {
  font-weight: 500;
  font-family: cursive;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .pricelike .pricecurrency span {
  font-weight: 500;
  font-family: cursive;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo a {
  border: none;
  background-color: green;
  color: white;
  padding: 7px;
  border-radius: 3px;
  text-decoration: none;
  font-family: cursive;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo a:hover {
  border: 1px solid green;
  background-color: white;
  color: green;
  font-weight: 500;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .rating {
  position: relative;
  float: right;
}

#categories-search-filter .container-fluid .content .item .col-lg-3 .productcart .productinfo .rating i {
  color: #dc9814;
  font-size: 16px;
}

#categories-search-filter .container-fluid .filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  padding-right: 35px;
  padding-left: 35px;
}

#categories-search-filter .container-fluid .filter h5 {
  color: #282828;
}

#categories-search-filter .container-fluid .filter ul {
  padding: 0px;
}

#categories-search-filter .container-fluid .filter ul li {
  list-style: none;
  color: #686868;
  font-size: 14px;
  line-height: 25px;
  line-height: 28px;
  cursor: pointer;
}

#categories-search-filter .container-fluid .filter ul li:hover {
  color: #dc9814;
}

#categories-search-filter .container-fluid .filter .color li span {
  margin-left: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(1) i {
  color: blue;
  font-size: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(2) i {
  color: brown;
  font-size: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(3) i {
  color: gray;
  font-size: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(4) i {
  color: green;
  font-size: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(5) i {
  color: orange;
  font-size: 10px;
}

#categories-search-filter .container-fluid .filter .color li:nth-child(6) i {
  color: white;
  border: 1px solid #AAAAAA;
  border-radius: 90%;
  font-size: 9px;
}

#categories-search-filter .container-fluid .filter .tags span {
  background-color: #282828;
  border-radius: 15px;
  margin-left: 7px;
  font-size: 12px;
  line-height: 28px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
}

#categories-search-filter .container-fluid .filter .tags span:hover {
  background-color: #dc9814;
}

#footer {
  background-color: #282828;
  height: 190px;
}

#footer .footerimg {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 15px;
}

#footer .footerimg img {
  width: 140px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 12px;
  margin-bottom: 10px;
  border-radius: 2px;
}

#footer .footerimg ul {
  padding-left: 12px;
}

#footer .footerimg ul li {
  list-style: none;
  color: #AAAAAA;
  font-weight: 500;
  margin-bottom: 7px;
}

#footer .footerimg ul li:hover {
  color: #EEEEEE;
}

#footer .footerpage {
  width: 100%;
  background-color: #282828;
  padding-left: 25px;
}

#footer .footerpage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
}

#footer .footerpage ul li {
  list-style: none;
  margin-left: 40px;
}

#footer .footerpage ul li a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 18px;
  font-weight: 500;
}

#footer .footerpage ul li a:hover {
  color: #EEEEEE;
}

#footer .footerpage P {
  margin-top: 50px;
  text-align: center;
  color: #AAAAAA;
}

#footer .footerpage P:hover {
  color: #EEEEEE;
}

#footer .footersocial {
  width: 100%;
  background-color: #282828;
}

#footer .footersocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  float: right;
}

#footer .footersocial ul li {
  list-style: none;
  margin-right: 35px;
}

#footer .footersocial ul li a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 22px;
  font-weight: 500;
}

#footer .footersocial ul li a:hover {
  color: #EEEEEE;
}
/*# sourceMappingURL=shoppage.css.map */