#navigation {

    .col-lg-5 {
        padding: 0px;
        border-bottom: 1px solid #686868;
    }

    .col-lg-2 {
        padding: 0px;
        padding-left: 47px;
        padding-top: 13px;
        border-bottom: 1px solid #686868;

    }

    .col-lg-12 {
        padding: 0;
    }

    .navleft {
        width: 100%;
        height: 65px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 18px;


        ul {
            display: flex;

            li {
                list-style: none;
                padding-top: 13px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    padding: 16px 15px;
                    color: #686868;
                    font-family: 'MaisonNeue', sans-serif;
                    font-size: 16px;

                    &:hover {
                        color: #dc9814;
                    }

                    sup {
                        font-size: 9px;
                        margin-left: 4px;
                        top: -9px;
                    }
                }
            }
        }
    }

    .logimg {
        width: 100%;
        height: 65px;
        padding-top: 14px;
        padding-bottom: 14px;


        img {
            width: 112px;
            height: 16px;
        }
    }

    .navright {
        width: 100%;
        height: 65px;
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;

        ul {
            display: flex;
            position: absolute;
            right: 66px;

            li {
                list-style: none;
                margin-right: 20px;
                padding-top: 13px;
                cursor: pointer;

                span {
                    text-decoration: none;
                    ;
                    color: #686868;
                    font-family: 'MaisonNeue', sans-serif;
                    font-size: 16px;

                    &:hover {
                        color: #dc9814;
                    }
                }

                sup {
                    color: #dc9814;
                    position: relative;
                    top: -10px;
                    left: 4px;
                    font-size: 14px;
                }


                i {
                    font-weight: 400;
                    margin-top: 6px !important;
                    font-size: 16px !important;
                    color: #686868;
                    cursor: pointer;

                    &:hover {
                        color: #dc9814;
                    }
                }
            }
        }
    }

    .shop-pages {
        width: 180px;
        background-color: #282828;
        position: absolute;
        top: 65px;
        left: 9%;
        z-index: 2;
        padding-top: 15px;
        border-radius: 10px;

        ul {
            padding-left: 22px;
            padding-bottom: 5px;

            li {
                list-style: none;
                padding-top: 10px;

                a {
                    text-decoration: none;
                    color: #A0A0A0;
                    font-family: 'MaisonNeue', sans-serif;
                    font-size: 13px;

                    &:hover {
                        color: #dc9814;
                    }
                }


            }
        }
    }


    .categoriestitle {
        position: absolute;
        display: flex;
        width: 100%;
        height: 180px;
        z-index: 2;
        top: 65px;
        left: 0px;
        text-align: center;
        background-color: white;
        padding-left: 133px;
        padding-right: 133px;
        padding-top: 20px;

        .bags {
            width: 220px;
            margin-bottom: 30px;
            padding: 0px;
            border-right: 1px solid #EEEEEE;


            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                display: block;
                justify-content: center;
                margin-left: 70px;
                margin-bottom: 20px;


                &:hover {
                    width: 85px;
                    height: 85px;
                }

            }

            span {
                color: #686868;
                font-size: 14px;

                &:hover {
                    color: #dc9814;
                }
            }
        }

        .decoration {
            width: 220px;
            margin-bottom: 30px;
            padding: 0px;
            border-right: 1px solid #EEEEEE;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                display: block;
                justify-content: center;
                margin-left: 70px;
                margin-bottom: 20px;


                &:hover {
                    width: 85px;
                    height: 85px;
                }
            }

            span {
                color: #686868;
                font-size: 14px;

                &:hover {
                    color: #dc9814;
                }
            }
        }

        .essentials {
            width: 220px;
            margin-bottom: 30px;
            padding: 0px;
            border-right: 1px solid #EEEEEE;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                display: block;
                justify-content: center;
                margin-left: 70px;
                margin-bottom: 20px;


                &:hover {
                    width: 85px;
                    height: 85px;
                }
            }

            span {
                color: #686868;
                font-size: 14px;

                &:hover {
                    color: #dc9814;
                }
            }
        }

        .interior {
            width: 220px;
            margin-bottom: 30px;
            padding: 0px;
            border-right: 1px solid #EEEEEE;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                display: block;
                justify-content: center;
                margin-left: 70px;
                margin-bottom: 20px;


                &:hover {
                    width: 85px;
                    height: 85px;
                }
            }

            span {
                color: #686868;
                font-size: 14px;

                &:hover {
                    color: #dc9814;
                }
            }
        }

        .allcategories {
            width: 220px;
            margin-bottom: 30px;
            padding: 0px;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                display: block;
                justify-content: center;
                margin-left: 70px;
                margin-bottom: 20px;

                &:hover {
                    width: 85px;
                    height: 85px;
                }
            }

            span {
                color: #686868;
                font-size: 14px;

                &:hover {
                    color: #dc9814;
                }
            }
        }

    }

    .pages {
        width: 180px;
        background-color: #282828;
        position: absolute;
        top: 65px;
        left: 23%;
        z-index: 2;
        padding-top: 15px;
        border-radius: 10px;

        ul {
            padding-left: 22px;
            padding-bottom: 5px;

            li {
                list-style: none;
                padding-top: 10px;

                a {
                    text-decoration: none;
                    color: #A0A0A0;
                    font-family: 'MaisonNeue', sans-serif;
                    font-size: 13px;

                    &:hover {
                        color: #dc9814;
                    }
                }


            }
        }
    }

}


#map {

    text-align: center;


    .container-fluid {

        padding-left: 65px;
        padding-right: 65px;


        h2 {
            text-align: start;
            margin-left: 110px;
            margin-top: 50px;
        }

        iframe {
            margin-top: 25px;
            margin-bottom: 70px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

    }

    .contactinfos {

        width: 352px;
        height: 180px;
        margin-bottom: 80px;
        display: flex;
        // background-color: #282828;
        padding-top: 20px;

        .icon {
            width: 34px;
            height: 140px;
            color: #686868;

            padding-left: 10px;

            i {
                font-size: 24px;
            }
        }

        .info {
            padding-left: 20px;

            h5 {
                text-align: start;
            }

            p {
                text-align: start;
                color: #686868;
                margin-bottom: 3px;
            }

            a {
                float: left;
                text-decoration: none;
                color:#dc9814;

                &:hover{
                    color: #282828;
                }
            }

        }
    }


}


#footer {

    background-color: #282828;
    height: 190px;

    .footerimg {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        padding: 15px;

        img {
            width: 140px;
            height: 60px;
            object-fit: contain;
            margin-left: 12px;
            margin-bottom: 10px;
            border-radius: 2px;

        }

        ul {

            padding-left: 12px;

            li {
                list-style: none;
                color: #AAAAAA;
                font-weight: 500;

                &:hover {
                    color: #EEEEEE;
                }
            }
        }
    }

    .footerpage {

        width: 100%;
        background-color: #282828;
        padding-left: 25px;

        ul {
            display: flex;
            margin-top: 65px;

            li {
                list-style: none;
                margin-left: 40px;


                a {
                    text-decoration: none;
                    color: #AAAAAA;
                    font-size: 18px;
                    font-weight: 500;

                    &:hover {
                        color: #EEEEEE;
                    }
                }
            }
        }

        P {
            margin-top: 50px;
            text-align: center;
            color: #AAAAAA;

            &:hover {
                color: #EEEEEE;
            }
        }
    }

    .footersocial {

        width: 100%;
        background-color: #282828;

        ul {
            display: flex;
            margin-top: 65px;
            float: right;


            li {
                list-style: none;
                margin-right: 35px;



                a {
                    text-decoration: none;
                    color: #AAAAAA;
                    font-size: 22px;
                    font-weight: 500;

                    &:hover {
                        color: #EEEEEE;
                    }
                }
            }
        }
    }

}